<!DOCTYPE html>
<html>
    <head>
        <body>
            <h1>See All Records</h1>
            <div></div>
            <table>
                <tr>
                    <th>Students</th>
                    <th>Grades</th>
                </tr>
                <tr>
                    <th>name1</th>
                    <th>name2</th>
                </tr>
                <tr>
                    <th>name3</th>
                    <th>name4</th>
                </tr>
            </table>
        </body>
    </head>
</html>